/build/build
/sherpaweb
/local/
/work/
/node_modules/.bin/
/node_modules/.package-lock.json
/node_modules/@esbuild/
/node_modules/@typescript/
/node_modules/esbuild/
/node_modules/typescript/

.*\.swp
